/* Estilos para dispositivos móviles */

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Ajusta el tamaño de fuente para dispositivos móviles */
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    }

    .header-content {
        flex-direction: column; /* Cambia la dirección del contenido del encabezado */
        align-items: center; /* Centra los elementos del encabezado */
        text-align: center;
    }

    .logo {
        width: 80px; /* Ajusta el tamaño del logo para dispositivos móviles */
        margin-right: 0; /* Elimina el margen derecho */
    }

    .header-gif {
        width: 200px; /* Ajusta el tamaño del GIF del encabezado */
        height: 200px;
        margin-top: 10px;
    }

    .news-item {
        width: 100%; /* Ajusta el ancho de las noticias para ocupar toda la fila */
        margin-bottom: 20px; /* Agrega un margen inferior entre las noticias */
    }

    .news-item img {
        width: 100%; /* Ajusta el ancho de las imágenes de las noticias */
        height: auto; /* Mantiene la relación de aspecto */
    }

   .banner-1000x90 img {
        max-width: 100%; /* Ajusta el ancho máximo del banner al tamaño del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .banner-1000x90 {
        text-align: center; /* Centra el contenido del banner */
        overflow: hidden; /* Evita que el contenido del banner sobresalga */
        margin-bottom: 20px; /* Añade un margen inferior */
    }
  
}
