/* Estilos para dispositivos móviles */

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Ajusta el tamaño de fuente para dispositivos móviles */
    }

    .header-content {
        flex-direction: column; /* Cambia la dirección del contenido del encabezado */
        align-items: center; /* Centra los elementos del encabezado */
        text-align: center;
    }

    .logo {
        width: 80px; /* Ajusta el tamaño del logo para dispositivos móviles */
        margin-right: 0; /* Elimina el margen derecho */
    }

    .header-gif {
        width: 200px; /* Ajusta el tamaño del GIF del encabezado */
        height: 200px;
        margin-top: 10px;
    }

    .news-item {
        width: 100%; /* Ajusta el ancho de las noticias para dispositivos móviles */
    }

    .banner-1000x90 img {
        width: 100%; /* Ajusta el ancho del banner para dispositivos móviles */
        height: auto;
    }
}
